*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
body{
    background: #2c252c;
}
main{
    /* border: red solid 1vw; */
    min-height: 100vh;
    /* height: 1vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #836e83;
}

.container{
    /* border: green solid 1vw; */
    display: flex;
    /* max-width: 80%; */
    width: 70vw;
    max-height: 70vh;
    height: fit-content;
}
.container__inner{
    /* border: white solid 1vw; */
    width: 100%;
    height: 100%;
    /* height: fit-content; */
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
}
.container__img{
    /* border: solid 1vw gold; */
    display: flex;
    background: #2c252c;
    width: 100%;
    justify-content: center;
    /* align-items: center; */
}
.img__inner{
    /* border: solid orange 1vw; */
    display: flex;
    width: 400%;
    justify-content: center;
    /* margin: 0 auto; */
}
.img__wrapper{
max-width: 100%;
max-height: 100%;
/* border: blue solid 0.3vw; */
}
.img{
    /* border: solid 1vw brown; */
    max-width: 100%;
    max-height: 100%;
    display: none;
}
.bar{
    /* border: solid 1vw black; */
    display: flex;
    justify-content: space-between;

}
.texts{
    display: inline-block;
    font-size: 3vw;
}
.text{
    display: none;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 0.5vw;

}
.label{
    cursor: pointer;
    display: flex;
    width: 3vw;
    height: 3vw;
    margin: 0.2vw;
    padding: 0.5vw;
}
.custom__button{
    display: flex;
    max-width: 100%;
    width: 100vw;
    max-height: 100%;
    height: 100vw;
    background: #705e70;
    border-radius: 50%;
}

.custom__button:hover{
    background: #bba4bb;
}

.real__button{
    display: none;
}
#first:checked ~ .bar > .buttons .first,
#second:checked ~ .bar > .buttons .second,
#third:checked ~ .bar > .buttons .third,
#fourth:checked ~ .bar > .buttons .fourth{
    background: #bba4bb;
    border: 0.4vw solid #4d414d;
}


.label__wrapper{
    display: inline-block;
    margin-right: auto;
    
}
#first:checked ~ .bar .texts > .text_first,
#second:checked ~ .bar .texts > .text_second,
#third:checked ~ .bar .texts > .text_third,
#fourth:checked ~ .bar .texts > .text_fourth
{
    display: block;
}


#first:checked ~ .container__img .img__wrapper .img1,
#second:checked ~ .container__img .img__wrapper .img2,
#third:checked ~ .container__img .img__wrapper .img3,
#fourth:checked ~ .container__img .img__wrapper .img4
{
    display: block;
}
